/* html, body {
    height: 100%;
  } */


.title-word{
  vertical-align: bottom;
}

.thidden {
  max-width: 0px;
  opacity: 0.2;
  overflow: hidden;
  display: inline-block;
  transition: max-width 1.3s ease-in-out .1s, opacity 1.8s ease-in-out;
}

.title:hover .thidden {
  max-width: 200px;
  vertical-align: bottom;
}

.title:hover .thidden {
  opacity: 1;
}
