* {
    /* font-family: 'Space Grotesk', sans-serif; */
    /* font-family: 'Oi', cursive;     */
    /* font-family: 'Pirata One', cursive; */
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;

}

/* html,
body {
    height: 97%;
} */

a {
    color: black;
}

::-webkit-scrollbar {
    display: none;
}


#main_content {
    font-size: 1rem;
    margin: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "inset_wrapper"
}

#inset_wrapper {
    grid-area: inset_wrapper
}

#inset_content {
    /* grid-area: inset_wrapper; */
    display: grid;
    grid-template-columns: repeat(4, calc(auto + 30px));
    grid-template-areas: 
        "about"
        "projects"
        "bites"
        "misc"
        "footer"
}


@media (min-width: 885px) {
    #title {
        font-size: 4rem;
    }
    #main_content {
        margin: 50px;
        margin-top: 30px;
        grid-template-columns: 100%;
        grid-template-areas:
            "header header"
            "inset_content"
    }
    #inset_content{
        /* grid-area: inset_wrapper; */
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-areas:
            "header header header"
            "projects misc about"
    }
    #past_projects {
        width: 80%;
    }
    #bites {
        width: 80%;
    }
    #current_projects div {
        width: 80%;
    }
}


#header {
    grid-area: header;
    margin-bottom: 40px;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@keyframes title-colors {
    0% {
        background: linear-gradient(to right bottom, #df2935 0%, #3772ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    33% {
        background: linear-gradient(to right bottom, #df2935 0%, #fdca40 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }

    66% {
        color: #fdca40
    }

    100% {
        color: #3772ff
    }
}

.title {
    /* font-family: 'Oi', cursive; */
    /*text-align: center;*/
    font-size: 3rem;
}


.title a:link,
a:visited,
a:active {
    color: black;
    text-decoration: none;
}

.title-word:hover {
    animation-name: Animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

.title-word.Speth {
    /*color:#df2935;*/
    animation-delay: -1s;
}

.title-word.McCrary {
    /*color:#fdca40;*/
    animation-delay: -2s;
}

.title-word.Caidan {
    background: linear-gradient(to right bottom, #fdca40 0%, #df2935 50%, #3772ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    background-size: 200% 200%;

    -webkit-animation: Animation 50s ease infinite;
    -moz-animation: Animation 50s ease infinite;
    animation: Animation 50s ease infinite;

    color: #3772ff;
    animation-delay: -3.5s;
}

.title-word.Blog {
    background: linear-gradient(to right bottom, #df2935 0%, #3772ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation-delay: -3.5s;
}

h2 {
    margin-bottom: 0.5rem;
}

/*PROJECTS*/

#projects {
    grid-area: projects;
    /*  display: grid;
    margin: 15px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 300px);*/
}

#projects div {
    margin-bottom: 20px;
}

#current_projects div {
    margin: 15px 0px 15px 0px;
}


#past_projects div {
    margin: 15px 0px 15px 0px;
}

#bites div {
    margin: 15px 0px 15px 0px;
}

.project_thumbnail {
    min-height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    background-color: salmon;
}

.project_thumbnail h3 {
    text-align: center;
    padding-top: 25%
}

/* Misc */
#misc {
    grid-area: misc;
    margin-bottom: 15px;
}

#misc div {
    margin-top: 15px;
    width: 80%;
}

#misc div div {
    /*width: 75%;*/
}

.publisher {
    font-style: italic;
    /*color: grey;*/
}

/*Contact/About*/
#contact {
    grid-area: about;
    margin-bottom: 15px;
}

#contact p {
    margin-top: 15px;
}

#contact a {
    color: grey;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}