* {
    font-family: 'Space Grotesk', sans-serif;
    /* font-family: 'Oi', cursive;     */
    /* font-family: 'Pirata One', cursive; */
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
}

:root {
    --outerpad: 40px;
    --primarycol: gray;
    --titlecol: lightgray;
    --lowcol: darkgray;
    --backcol: black;
    --accentbrightcol: darkcyan;
    --accentdarkcol: indigo;
    --selectforecol: white;
}

::selection {
    background-color: var(--accentbrightcol);
    color: var(--selectforecol)
}

body {
    color: var(--primarycol);
    background-color: var(--backcol);
}

h2, h3 {
    color: var(--titlecol);
    margin-bottom: 0.25rem;
}

::-webkit-scrollbar {
    display: none;
}

#main_content {
    margin: 15px;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "inset_wrapper"
}

#inset_wrapper {
    grid-area: inset_wrapper
}

#inset_content {
    /* grid-area: inset_wrapper; */
    display: grid;
    grid-template-columns: repeat(4, calc(auto + 30px));
    grid-template-areas: 
        "about"
        "projects"
        "bites"
        "misc"
        "footer"
}

.title {
    color: var(--titlecol);
}

@media (min-width: 885px) {
    #title {
        font-size: 4rem;
    }
    #main_content {
        margin: var(--outerpad);
        margin-top: calc(var(--outerpad)/2);
        grid-template-columns: 100%;
        grid-template-areas:
            "header header"
            "inset_content"
    }
    #inset_content{
        /* grid-area: inset_wrapper; */
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-areas:
            "header header header"
            "projects misc about"
    }
    #past_projects {
        width: 80%;
    }
    #bites {
        width: 80%;
    }
    #current_projects div {
        width: 80%;
    }
}

#header {
    grid-area: header;
    margin-bottom: calc(var(--outerpad)/2);
}

/* @-webkit-keyframes Animation {
    0%{background-position:0.6rem 0rem}
    50%{background-position:5.4rem 6rem}
    100%{background-position:.6rem 0rem}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
} */
@keyframes Animation { 
    0%{background-position:0rem 0rem}
    50%{background-position:-3rem -6rem}
    100%{background-position:0rem 0rem  }
}

.title {
    /* font-family: 'Oi', cursive; */
    /*text-align: center;*/
    font-size: 3rem;
    color: var(--titlecol);
    text-decoration: none;
}

a:link,
a:visited {
    color: var(--lowcol);
    text-decoration: none;
}

a:hover {
    color: var(--accentbrightcol)
}

a:active {
    color: var(--titlecol);
}

.title-word.Caidan {
    background: linear-gradient(135deg, var(--titlecol) 0rem, var(--accentbrightcol) 6rem, var(--accentdarkcol) 12rem);
    -webkit-background-clip: text;
    background-clip: clip;
	-webkit-text-fill-color: transparent;
    background-size: 15rem 15rem;

    -webkit-animation: Animation 50s ease infinite;
    -moz-animation: Animation 50s ease infinite;
    animation: Animation 50s ease infinite;

    animation-delay: -3.5s;
}

.twrap {
    background: inherit;
    -webkit-background-clip: text;
    background-clip: clip;
	-webkit-text-fill-color: transparent;
}

h2 {
    /* margin-bottom: 0.5rem; */
}

/*PROJECTS*/

#projects {
    grid-area: projects;
}

#projects div {
    margin-bottom: 20px;
}

#current_projects div {
    margin: 15px 0px 15px 0px;
}


#past_projects div {
    margin: 15px 0px 15px 0px;
}

#bites div {
    margin: 15px 0px 15px 0px;
}

.project_thumbnail h3 {
    text-align: center;
    padding-top: 25%
}

/* Misc */
#misc {
    grid-area: misc;
    margin-bottom: 15px;
}

#misc div {
    margin-top: 15px;
    width: 80%;
}

.publisher {
    font-style: italic;
    /*color: grey;*/
}

/*Contact/About*/
#contact {
    grid-area: about;
    margin-bottom: 15px;
}

#contact p {
    margin-top: 15px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid var(--titlecol);
    border-bottom: 1px solid var(--titlecol);

}

@keyframes overlay-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes overlay-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .title-word{
    vertical-align: bottom;
    -webkit-background-clip: text;
    color: var(--titlecol);
	/* -webkit-text-fill-color: transparent; */
  }
  
  .thidden {
    /* opacity: 0; */
    overflow: hidden;
    display: inline-block;
    transition: max-width .8s ease-in-out 
  }
  
  .title:hover .thidden {
    max-width: 200px;
    animation: overlay-in .3s ease-in-out .4s;
    animation-fill-mode: forwards;
  }
  
  .title .thidden {
    max-width: 0px;
    opacity: 0;
    animation: overlay-out .3s ease-in-out;
  }
  